<div class="panel-body">
    <div class="left-form panel">
        <h3>
            {{comments.length}} Comments
        </h3>
        <ul>
            <li ng-repeat="comment in comments track by $index">
                <!--<li ng-repeat="comment in comments" ng-include="'comment-tree'">-->
                <div>
                    {{comment.name}}
                    {{comment.email}}
                    {{comment.comment}}
                    {{comment.date | date : format : timezone}}
                </div>
            </li>
        </ul>
        <form method="post" name="commentForm" ng-submit="addComment()" ng-class=""  role="form">
            <legend>
                Your comment
            </legend>
            <div class="col-sm-10 ">
                <div ng-class="{ 'alert': flash, 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error' : commentForm.name.$invalid && commentForm.name.$dirty }">
                <label>
                    Name:
                    <input ng-pattern="username" watch-change="checkName()" class="form-control" ng-model='createComment.name' name ="name" type='text' required autofocus>
                </label>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error' : commentForm.email.$invalid && commentForm.email.$dirty }">
                <label>
                    E-mail:
                    <input ng-pattern="useremail" watch-change="checkEmail()" class="form-control" ng-model='createComment.email' name="email" type='email' required>
                </label>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error' : commentForm.text.$invalid && commentForm.text.$dirty }">
                <label>
                    Homepage:
                    <input ng-pattern="userurl"  class="form-control" name="baseurl" ng-model="createComment.baseurl">
                </label>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error' : commentForm.text.$invalid && commentForm.text.$dirty }">
                <label>
                    Comment:
                    <textarea ng-pattern="usercomment" watch-change="checkText()" class="form-control" name="text" ng-model="createComment.text" required></textarea>
                </label>
            </div>
            <div>
                <button ng-disabled="commentForm.$invalid" class=" btn btn-success"  type='submit'> Add comment
                </button>
            </div>
        </form>
     </div>
</div>
