<div class="panel-body">
    <div class="left-form panel">
        <h3>
            {{comments.length}} Comments
        </h3>
        <div class="sorting"><strong>Sort by:</strong>
            <div class="sorting" ng-click="sortComments('name')"> user name
                <div  class='glyphicon' ng-class="(sortparam==='name')? reverseSort ? 'glyphicon-arrow-up' : 'glyphicon-arrow-down': '' "></div>
            </div>
            <div class="sorting" ng-click="sortComments('email')" > user email
                <div   class='glyphicon' ng-class="(sortparam==='email')? reverseSort ? 'glyphicon-arrow-up' : 'glyphicon-arrow-down': '' "></div>
            </div>
            <div class="sorting" ng-click="sortComments('date')"> date
                <div  class='glyphicon' ng-class="(sortparam==='date')? reverseSort ? 'glyphicon-arrow-up' : 'glyphicon-arrow-down': '' "></div>
            </div>
        </div>
        <hr />
        <div class="comment"  ng-class="{'tab1':comment.array_length === 1,'tab2': comment.array_length === 2,
                        'tab3':comment.array_length === 3,'tab4':comment.array_length === 4,
                        'tab5':comment.array_length === 5,'tab6':comment.array_length >= 6}" ng-repeat="comment in comments track by $index" >
            {{comment.name}}
            <br />
            {{comment.email}}
            <br />
            <div class="comment-text" ng-bind-html="comment.comment"></div>
            <img ng-if="isPicture(comment.attachment)"
                 src="./attachment/{{comment.attachment}}" />
            <div>
                <a ng-if="isTxt(comment.attachment)"  target="_blank" class="glyphicon glyphicon-file"   href="./attachment/{{comment.attachment}}"> </a>
            </div>
            <div>
                {{comment.date | date : format : timezone}}
            </div>
            <br />
            <button class="btn btn-success btn-xs"  ng-click="showAnswerForm(comment.id)"> Add answer
            </button>
            <form  ng-show="comment.id === createAnswer.id" method="post" name="answerForm" ng-submit="addAnswer(comment.id)"   role="form">
                <legend>
                    Your answer
                </legend>
                <div ng-messages="answerForm.name.$error" ng-if="answerForm.name.$dirty">
                    <div ng-message="pattern">Only latin symbols and  numbers length between 3 and 50</div>
                </div>
                <div class="form-group has-feedback" ng-class="{ 'has-error' : answerForm.name.$invalid && answerForm.name.$dirty }">
                    <label>
                        Name:
                        <input ng-pattern="username"  class="form-control" ng-model='createAnswer.name' name ="name" type='text' required autofocus>
                    </label>
                </div>
                <div ng-messages="answerForm.email.$error" ng-if="answerForm.name.$dirty">
                    <div ng-message="pattern">Please, enter valid email</div>
                </div>
                <div class="form-group has-feedback" ng-class="{ 'has-error' : answerForm.email.$invalid && answerForm.email.$dirty }">
                    <label>
                        E-mail:
                        <input ng-pattern="useremail"  class="form-control" ng-model='createAnswer.email' name="email" type='email' required>
                    </label>
                </div>
                <div ng-messages="answerForm.baseurl.$error" ng-if="answerForm.baseurl.$dirty">
                    <div ng-message="url">Please, enter valid url</div>
                </div>
                <div class="form-group has-feedback" ng-class="{ 'has-error' : answerForm.baseurl.$invalid && answerForm.baseurl.$dirty }">
                    <label>
                        Homepage:
                        <input type="url"  class="form-control" name="baseurl" ng-model="createAnswer.baseurl">
                    </label>
                </div>
                <div ng-messages="answerForm.text.$error" ng-if="answerForm.name.$dirty || createAnswer.hasTags">
                    <div ng-message="required">Please enter a value for this field.</div>
                    <!--<div ng-message="createAnswer.hasTags">Please, type your comment</div>-->
                </div>
                <div class="form-group has-feedback" ng-class="{ 'has-error' : answerForm.text.$invalid && answerForm.text.$dirty|| createAnswer.hasTags }">
                    <label>
                        Comment:
                        <textarea  ng-change="hasTagsInAnswer()" class="form-control" name="text" ng-model="createAnswer.text" required></textarea>
                        <div class="preview" ng-bind-html="createAnswer.text"></div>
                    </label>
                </div>

                <input type="file" id="ansmedia" file-model="createAnswer.attachment">
                <div>
                    <button ng-disabled="answerForm.$invalid || createAnswer.hasTags" class=" btn btn-success"  type='submit'> Add answer </button>
                    <button  ng-click="cancelAnswer()" ng-show="comment.id === createAnswer.id" type="button" class="btn btn-warning glyphicon glyphicon-remove"></button>
                </div>
            </form>
        </div>
        <div id="pagination" class="row">
            <button class="btn btn-primary btn-sm" ng-disabled="firstPage()" ng-click="goToFirstPage()">Start</button>
            <button class="btn btn-primary btn-sm" ng-disabled="firstPage()" ng-click="pageBack()">Back</button>
            <span>{{currentPage}} of {{lastPageNum}}</span>
            <button class="btn btn-primary btn-sm" ng-disabled="lastPage()" ng-click="pageForward()">Next</button>
            <button class="btn btn-primary btn-sm" ng-disabled="lastPage()" ng-click="goToLastPage()">End</button>
        </div>
        <form method="post" name="commentForm" ng-submit="addComment()" role="form">
            <legend>
                Your comment
            </legend>
            <div class="col-sm-10">
                <div ng-class="{ 'alert': flash, 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error' : commentForm.name.$invalid && commentForm.name.$dirty }">
                <label>
                    Name:
                    <input ng-pattern="username" watch-change="checkName()" class="form-control" ng-model='createComment.name' name ="name" type='text' required autofocus>
                </label>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error' : commentForm.email.$invalid && commentForm.email.$dirty }">
                <label>
                    E-mail:
                    <input ng-pattern="useremail" watch-change="checkEmail()" class="form-control" ng-model='createComment.email' name="email" type='email' required>
                </label>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error' : commentForm.baseurl.$invalid && commentForm.baseurl.$dirty }">
                <label>
                    Homepage:
                    <input type="url"  class="form-control" name="baseurl" ng-model="createComment.baseurl">
                </label>
            </div>
            <div class="form-group has-feedback" ng-class="{ 'has-error' : commentForm.text.$invalid && commentForm.text.$dirty || createComment.hasTags}">
                <label>
                    Comment:
                    <textarea  ng-change="hasTagsInComment()" watch-change="checkText()" class="form-control" name="text" ng-model="createComment.text" required></textarea>
                    <div class="preview" ng-bind-html="createComment.text"></div>
                </label>
            </div>
            <canvas id="picture"></canvas>
            <canvas id="anspicture"></canvas>
            <input type="file" id="media"  file-model="createComment.attachment">
            <div>
                <button ng-disabled="commentForm.$invalid || createComment.hasTags" class=" btn btn-success"  type='submit'> Add comment
                </button>
            </div>
        </form>
    </div>
</div>
