body {
    font-family: 'DigitalSansEFMedium';
    font-size: 16px;
    background-image: url("../img/letters.jpg");
    /*background-color: #5bc0de;*/
}
header {
    color: white;
    font-family: "DigitalSansEFMedium";
}
form, h3, ul {
    margin-left: 20px;
    margin-bottom: 20px;
}
footer {
    color: white;
}
#pagination {
    text-align: center;
}
.tab1 {
    margin-left: 20px;
}
.tab2 {
    margin-left: 60px;
}
.tab3 {
    margin-left: 100px;
}
.tab4 {
    margin-left: 140px;
}
.tab5 {
    margin-left: 160px;
}
.tab6 {
    margin-left: 200px;
}
.sorting {
    display: inline-table;
    margin-left: 20px;
}
hr {
    margin:20px;
}
#media {
    margin: 20px;
}



