body {
    font-family: 'DigitalSansEFMedium';
    font-size: 16px;
    background-image: url("../img/letters.jpg");
    /*background-color: #5bc0de;*/
}
header {
    color: white;
    font-family: "DigitalSansEFMedium";
}
form, h3, ul {
    margin-left: 20px;
    margin-bottom: 20px;
}
footer {
    color: white;
}


